.list {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-list {
  padding: 50px 0;
  width: 95%;
}



.list h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  color: #333333;
}

.podcast-details {
  padding: 0 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.podcast-details h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 64px;
  color: #333333;
}

.podcast-details p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  max-height: 194px;
  overflow-y: hidden;
  /* height: 194px; */
  /* border: 1px solid black; */
}

.podcast-details span {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #4c4c4c;
}

@media (max-width: 768px) {
  .podcast-details p {
    max-height: 163px;
  }

  .video iframe {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .video {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .video iframe {
    width: 100%;
  }
  .podcast-details p {
    max-height: 163px;
  }
}
