.book-container {
  /* height: 90vh; */
  width: 100vw;
  position: relative;
  background-image: url("/img/background/BOM-bg.png");
  background-size: 100% 100%;

}

.book-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 150px 0;
  color: #ffffff;
  width: 50%;
}

.story h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
}
.story span {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: #ffffff;
}

.story p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.story button {
  background: #ffffff;
  border: none;
  border-radius: 5px;
  width: 170px;
  height: 48px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ff0081;
}
.story button a {
  color: #ff0081;
}

.image img{
  border-radius: 15px;
}

@media (max-width: 768px) {
  .story {
    width: 90%;
    padding: 60px 0;
  }
  .image {
    display: none !important;
  }
}

/* BOM Hero ends */

/* Other Nominees */

.other-container {
  padding: 25px;
  margin-bottom: 50px;
}
.other-container section {
  padding: 20px 100px;
  gap: 55px;
}

.book img {
  border-radius: 7px !important;

}

.book h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: #333333;
  text-align: center;
}

.book p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  /* line-height: 40px; */
  color: #333333;
}


