* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  font-weight: 600;
}

body {
  overflow-x: hidden;
}

.list-group-item {
  border: none;
  text-align: center;
}

.list-group {
  --bs-list-group-bg: none;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
