.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 90px;
  height: 113px;
  background-color: #ff5480;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.main-header header {
  width: 100%;
}

.main-header header ul li {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.menu {
  display: none;
}

.navbar li a {
 white-space: nowrap;
}

@media (max-width: 768px) {
  .navbar,
  .socials {
    display: none;
  }

  .menu {
    display: inline;
  }
}
